kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v1alpha2
mirror:
  operators:
{% if cat_src != "konflux" %}
  - catalog: {{ cat_img | trim }}
    full: false
    packages: 
{% for item in pkgs_list %}
      - name: {{ item | split(':') | first }}
{% if (item | split(':') | length) > 1 %}
        minVersion: {{ item | split(':') | last }}
{% endif %} 
{% endfor %}     
{% else %}      
{% if mce_ds|length > 1 %}   
  - catalog: quay.io:443/acm-d/mce-dev-catalog:{{ mce_ds }}
    full: false
    packages:
      - name: multicluster-engine     
        defaultChannel: stable-{{ mce_ver }}      
        channels:
        - name: stable-{{ mce_ver }}    
{% endif %} 
{% if acm_ds|length > 1 %}             
  - catalog: quay.io:443/acm-d/acm-dev-catalog:{{ acm_ds }}
    full: false
    packages:
      - name: advanced-cluster-management
        defaultChannel: release-{{ acm_ver }}   
        channels:
        - name: release-{{ acm_ver }}   
{% endif %}          
  additionalImages: 
    - name: quay.io/fxiang1/helloworld:0.0.1
    - name: quay.io/fxiang1/mortgage:0.5.0
    - name: quay.io/thuyn_581/gogs:latest
#    - name: docker.io/gogs/gogs:latest          
{% endif %} 

