kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v1alpha2
mirror:
  operators:
{% if cat_src != "konflux" %}
  - catalog: {{ cat_img | trim }}
    full: false
    packages: 
{% for item in pkgs_list %}
      - name: {{ item }}
{% endfor %}     
{% else %}      
  - catalog: quay.io:443/acm-d/mce-dev-catalog:{{ mce_ds }}
    packages:
      - name: multicluster-engine
        channels:
        - name: stable-{{ mce_ver }}         
  - catalog: quay.io:443/acm-d/acm-dev-catalog:{{ acm_ds }}
    packages:
      - name: advanced-cluster-management
        channels:
        - name: release-{{ acm_ver }}     
  additionalImages:
    - name: registry.redhat.io/rhel9/postgresql-13:latest
    - name: registry.redhat.io/rhel8/postgresql-10:latest    
    - name: quay.io/fxiang1/helloworld:0.0.1
    - name: quay.io/fxiang1/mortgage:0.5.0
    - name: quay.io/thuyn_581/gogs:0.9.97          
{% endif %} 

