apiVersion: cluster.x-k8s.io/v1beta1
kind: Cluster
metadata:
  name: {{ cluster_name }} 
  namespace: {{ capi_namespace }}
  labels:
    cleanup: ''  
spec:
  controlPlaneRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
    kind: AzureASOManagedControlPlane
    name: {{ cluster_name }}
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
    kind: AzureASOManagedCluster
    name: {{ cluster_name }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: AzureASOManagedControlPlane
metadata:
  name: {{ cluster_name }}
  namespace: {{ capi_namespace }}
spec:
  resources:
  - apiVersion: containerservice.azure.com/v1api20210501
    kind: ManagedCluster
    metadata:
      annotations:
        serviceoperator.azure.com/credential-from: aso-controller-settings
      name: {{ cluster_name }}
    spec:
      dnsPrefix: {{ cluster_name }}
      identity:
        type: SystemAssigned
      location: {{ region if cloud_region == '' else cloud_region }}
      networkProfile:
        networkPlugin: azure
      owner:
        name: {{ cluster_name }}
      servicePrincipalProfile:
        clientId: 85f7c9eb-eea5-4456-89ac-4f9814290d36
        secret:
         name: aks-sp-secret # References a Kubernetes Secret holding the password
         key: clientSecret
        #clientId: msi
  version: v{{ k8s_version if kubernetes_version == '' else kubernetes_version }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: AzureASOManagedCluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ capi_namespace }}
spec:
  resources:
  - apiVersion: resources.azure.com/v1api20200601
    kind: ResourceGroup
    metadata:
      annotations:
        serviceoperator.azure.com/credential-from: aso-controller-settings
      name: capi-k8s-tenew-azure-aks
    spec: 
      location: {{ region if cloud_region == '' else cloud_region }}
---
apiVersion: cluster.x-k8s.io/v1beta1
kind: MachinePool
metadata:
  name: {{ cluster_name }}-pool0
  namespace: {{ capi_namespace }}
spec:
  clusterName: {{ cluster_name }}
  replicas: {{ nodes_count if workers_count is undefined else workers_count|int }}
  template:
    metadata: {}
    spec:
      bootstrap:
        dataSecretName: ""
      clusterName: {{ cluster_name }}
      infrastructureRef:
        apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
        kind: AzureASOManagedMachinePool
        name: {{ cluster_name }}-pool0
      version: v{{ k8s_version if kubernetes_version == '' else kubernetes_version }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: AzureASOManagedMachinePool
metadata:
  name: {{ cluster_name }}-pool0
  namespace: {{ capi_namespace }}
spec:
  resources:
  - apiVersion: containerservice.azure.com/v1api20210501
    kind: ManagedClustersAgentPool
    metadata:
      annotations:
        serviceoperator.azure.com/credential-from: aso-controller-settings
      name: {{ cluster_name }}-pool0
    spec:
      azureName: pool0
      mode: System
      owner:
        name: {{ cluster_name }}
      type: VirtualMachineScaleSets
      vmSize: "{{ instance_type|trim if cloud_instance_type == '' else cloud_instance_type }}"

