apiVersion: cluster.x-k8s.io/v1beta1
kind: Cluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ capi_namespace }}
  labels:
    cleanup: ''    
spec:
  clusterNetwork:
    pods:
      cidrBlocks:
      - 192.168.0.0/16
  controlPlaneRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
    kind: GCPManagedControlPlane
    name: {{ cluster_name }}
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
    kind: GCPManagedCluster
    name: {{ cluster_name }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: GCPManagedCluster
metadata:
  name: {{ cluster_name }}
  namespace: {{ capi_namespace }}
spec:
  network:
    name: default
  project: gc-acm-test
  region: {{ region if cloud_region == '' else cloud_region }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: GCPManagedControlPlane
metadata:
  name: {{ cluster_name }}
  namespace: {{ capi_namespace }}
spec:
  location: {{ region if cloud_region == '' else cloud_region }}
  project: gc-acm-test
---
apiVersion: cluster.x-k8s.io/v1beta1
kind: MachinePool
metadata:
  name: {{ cluster_name }}-mp-0
  namespace: {{ capi_namespace }}
spec:
  clusterName: {{ cluster_name }}
  replicas: {{ nodes_count if workers_count is undefined else workers_count|int }}
  template:
    spec:
      bootstrap:
        dataSecretName: ""
      clusterName: {{ cluster_name }}
      infrastructureRef:
        apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
        kind: GCPManagedMachinePool
        name: {{ cluster_name }}-mp-0
      version: v{{ k8s_version if kubernetes_version = '' else kubernetes_version }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: GCPManagedMachinePool
metadata:
  name: {{ cluster_name }}-mp-0
  namespace: {{ capi_namespace }}
spec: 
  instanceType: "{{ instance_type|trim if cloud_instance_type == '' else cloud_instance_type }}"
  nodeLocations: 
  - "{{ region if cloud_region == '' else cloud_region }}-b"
